<header class="header">
  <mat-toolbar color="primary">

    <span>TAŞINMAZ YÖNETİMİ</span>
    <span class="example-spacer"></span>
    <ul class="header-menu">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Anasayfa</a>
      </li>
      <li>
        <a routerLink="user-index" routerLinkActive="active">Kullanıcı</a>
      </li>
      <li>
        <a routerLink="immovable-index" routerLinkActive="active">Taşınmaz</a>
      </li>
    </ul>
  </mat-toolbar>
</header>
