.btn {
  font-size:12px !important;
  margin:2px;
  min-width:50px;
}

tr > td:last-child {
 padding: 0px !important;
 max-width: 120px;
 min-width: 120px;
 padding-right:-5px;
 > .btn {
   float: revert;

 }
}


